@keyframes color-changer {
  0% {
    background-color: #212529;
  }
  50% {
    background-color: #ffc107;
  }
  100% {
    background-color: #212529;
  }
}
.bg-animation {
  animation-name: color-changer;
  animation-duration: 180s;
  animation-iteration-count: infinite;
}
.btn-warning {
  background-color: #ffc107;
}
.btn-warning:hover {
  background-color: #ffa500;
  border-color: black;
}
